 <!-- page content -->
 <div class="right_col menu_fixed" style="min-height:817px" role="main">
  <!-- top tiles -->
  
  <!-- /top tiles -->

  <!-- <div class="bg-white">
    <p>Hello From Another Godwin</p>
  </div> -->

  <!-- <a class="btn btn-primary" [routerLink]="['/patient/list']">View Patient List</a> -->
  <div class="x_panel">
     
      <div class="x_title">
        <h2>New Patient</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <br>
        <form (ngSubmit)="register()" [formGroup]="patientForm" id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">         

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">First Name <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control col-md-7 col-xs-12" 
                formControlName="firstName"
                [ngClass]="{'is-invalid' : patientForm.get('firstName').errors && patientForm.get('firstName').touched}">
                <div class="invalid-feedback" *ngIf="patientForm.get('firstName').hasError('required') && patientForm.get('firstName').touched">The first name field is required</div>
            </div>
          
          </div>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Last Name <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input type="text" class="form-control col-md-7 col-xs-12" 
                formControlName="lastName"
                [ngClass]="{'is-invalid' : patientForm.get('lastName').errors && patientForm.get('lastName').touched}">
                <div class="invalid-feedback" *ngIf="patientForm.get('lastName').hasError('required') && patientForm.get('lastName').touched">The last name field is required</div>
            </div>
          </div>

           <div class="form-group">
            <label for="address" class="control-label col-md-3 col-sm-3 col-xs-12">Address</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input class="form-control col-md-7 col-xs-12" type="text" required
                formControlName="address"
                [ngClass]="{'is-invalid' : patientForm.get('address').errors && patientForm.get('address').touched}">
                <div class="invalid-feedback" *ngIf="patientForm.get('address').hasError('required') && patientForm.get('address').touched">The address field is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="email" class="control-label col-md-3 col-sm-3 col-xs-12">Email</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input class="form-control col-md-7 col-xs-12" type="email" required
                formControlName="email"
                [ngClass]="{'is-invalid' : patientForm.get('email').errors && patientForm.get('email').touched}">
                <div class="invalid-feedback" *ngIf="patientForm.get('email').hasError('required') && patientForm.get('email').touched">The email field is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="address" class="control-label col-md-3 col-sm-3 col-xs-12">Date of Birth</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input class="form-control col-md-7 col-xs-12" type="text"
                formControlName="dateOfBirth" bsDatepicker [bsConfig]="bsConfig"
                [ngClass]="{'is-invalid' : patientForm.get('dateOfBirth').errors && patientForm.get('dateOfBirth').touched}">
                <div class="invalid-feedback" *ngIf="patientForm.get('dateOfBirth').hasError('required') && patientForm.get('dateOfBirth').touched">The DOB field is required</div>
            </div>
          </div> 

          <!--
          <div class="form-group">
            <label for="email" class="control-label col-md-3 col-sm-3 col-xs-12">Email</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input class="form-control col-md-7 col-xs-12" type="text" required
                name="email" [(ngModel)]="patient.email">
            </div>
          </div> -->
          
          <!-- <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div id="gender" class="btn-group" data-toggle="buttons">
                <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                  <input type="radio" name="gender" value="male" data-parsley-multiple="gender"> &nbsp; Male &nbsp;
                </label>
                <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                  <input type="radio" name="gender" value="female" data-parsley-multiple="gender"> Female
                </label>
              </div>
            </div>
          </div> -->
          <!-- <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Date Of Birth <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <input id="birthday" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text" 
                name="dateOfBirth" ngModel>
            </div>
          </div> -->

          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 btn-center">
              <button class="btn btn-primary" type="button" (click)="cancelRegistration()">Cancel</button>
              <button type="submit" class="btn btn-success" [disabled]="!patientForm.valid">Submit</button>
            </div>
          </div>

        </form>
                <!-- <p>{{patientForm.value | json}}</p>
                <p>{{patientForm.status | json}}</p> -->
      </div>
    </div>
</div>

