.top_search {
    width: 30%;
}

  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #ddd;}

/* .dropdown-content a:hover {background-color: grey} */
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: #3e8e41;}
 
.button-sizing {
    height: 27px;
    line-height: 1px;
}

.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
    color: red;
}