/* .register-content {
    background-color: red;
}

.container {
    text-align: center;
    width: 80%;
    height: 100%;
    margin-top: 80px;
}

.title {
    color: white;
    font-size: 100%;
}

.validation-feedback {
    color: red;
}

.login-nav {
   margin-left: 40%;
    color: white;

} */